Package: com.abdullah.scdevmemu
Name: SoundCloudDevMenu
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Enable Developer menu for soundcloud app to enable and disable hidden features!
Maintainer: Abdullah
Author: Abdullah
Section: Tweaks
